@media (min-width: 320px) and (max-width:768px) {
    
    /* header */
    
    #head {
        width: 100%;
        padding: 0px 0px;
        max-width: 768px;
        height: 100px;
        position:static;
        z-index: 0;
        margin: auto;
        background-color: #2E948A;
    }
    .container--head {
        width: 100%;
        max-width: 768px;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img {
        height: 70px;
        display: flex;
        justify-content: center;
    }

    .menu {
        width: 209px;
        height: 33px;
    }

    .menu--list {
        width: 209px;
    }

    .menu--links {
        font-size: 14px;
    }

    .logo {
        width: 164px;
        height: 60px;
    }

    /* conteudo */
    .container--main {
        display: flex;
        flex-direction: column;
    }

    .text-1, .text-2 {
        width: 80%;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
    }

    .text-2 {
        margin-top: 15px;
        font-size: 16px;
        text-align: center;
        line-height: 18px;
    }

    .img-ilustra {
        width: 60%;
        height: 60%;
    }

    .lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .caixa {
        width: 200px;
        height: 100px;
    }

    .produto {
        width: 200px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }

    .descript {
        width: 200px;
        font-size: 16px;
        text-align: justify;
    }

    .caixa-completa {
        width: 200px;
        margin-top: 20px;
    }



    .container--grid {
        width: 200px;
        grid-template-columns: 1fr ;
    }

    section {
        height: 2400px;
    }

    /* footer */

    #rodape {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 307px;
        padding: 20px 80px;
    }

    .container--rodape {
        height: 307px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btn--link button {
        width: 189px;
        height: 40px;
    }

    .btn--link a {
        font-size: 16px;
    }
    
}


@media (min-width: 426px) and (max-width:768px) {

    .caixa {
        width: 400px;
        height: 200px;
    }

    .produto {
        width: 400px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }

    .descript {
        width: 400px;
        font-size: 16px;
        text-align: justify;
    }

    .caixa-completa {
        width: 400px;
        margin-top: 20px;
    }



    .container--grid {
        width: 400px;
        grid-template-columns: 1fr ;
    }
}




@media (min-width: 769px) and (max-width: 1024px) {

    /* header */
    #head {
        width: 100%;
        padding: 0px 80px;
        max-width: 1024px;
        height: 100px;
        position:static;
        z-index: 0;
        margin: auto;
        background-color: #2E948A;
    }
    .container--head {
        width: 100%;
        max-width: 1024px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    /* conteudo */


    .caixa {
        width: 720px;
        height: 400px;
    }

    .produto {
        margin-top: 10px;
        width: 720px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }

    .descript {
        width: 720px;
        font-size: 16px;
        text-align: justify;
    }

    .caixa-completa {
        width: 720px;
        margin-top: 20px;
    }



    .container--grid {
        width: 720px;
        grid-template-columns: 1fr ;
    }


    section {
        height: 3300px;
    }





    /* footer */
    .img {
        width: 300px;
    }

    .btn--link button {
        width: 200px;
    }

    .btn--link a {
        font-size: 18px;
    }
}


@media (min-width: 1024px) {
    .container--main {
        padding-top: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caixa {
        width: 400px;
        height: 200px;
    }

    .produto {
        margin-top: 10px;
        width: 400px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }

    .descript {
        width: 400px;
        font-size: 16px;
        text-align: justify;
    }

    .caixa-completa {
        width: 400px;
        margin-top: 20px;
    }

    .container--grid {
        width: 900px;
        margin: auto;
    }

    section {
        height: 1600px;
        margin: auto;
    }
}