@media (min-width: 320px) and (max-width:768px) {
    
    /* header */
    
    #head {
        width: 100%;
        padding: 0px 0px;
        max-width: 768px;
        height: 100px;
        position:static;
        z-index: 0;
        margin: auto;
        background-color: #2E948A;
    }
    .container--head {
        width: 100%;
        max-width: 768px;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img {
        height: 70px;
        display: flex;
        justify-content: center;
    }

    .menu {
        width: 209px;
        height: 33px;
    }

    .menu--list {
        width: 209px;
    }

    .menu--links {
        font-size: 14px;
    }

    .logo {
        width: 164px;
        height: 60px;
    }

    /* conteudo */


    .caixa--cinza {
        width: 95%;
    }

    .tituloh1 {
        width: 95%;
        text-align: center;
        font-size: 35px;
        line-height: 40px;
    }
    .textos {
        width: 95%;
        text-align: justify;
    }

    #cursos {
        height: 1600px;
        width: 100%;
    }
    .container--cursos {
        width: 100%;
        max-width: 425px;
        height:90% ;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
        position: relative;
    }
    .title--cursos {
        font-size: 20px;
    }
    .curso1,
    .curso2,
    .curso3 {
        width: 100%;
        height: 400px;
    }
    .subTitle--cursos {
        font-size: 14px;
    }
    .btn--cursos {
        width: 133px;
        font-size: 18px;
    }
    .img--curso {
        width: 164px;
        height: 160px;
    }

    .title--page-cursos h2{
        width: 200px;
        margin: 20px 0px;
        font-size: 25px;
        position: absolute;
        text-align: center;
        top: -120px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }

    /* footer */

    #rodape {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 307px;
        padding: 20px 80px;
    }

    .container--rodape {
        height: 307px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btn--link button {
        width: 189px;
        height: 40px;
    }

    .btn--link a {
        font-size: 16px;
    }
    
}


@media (min-width: 769px) and (max-width: 1024px) {

    /* header */
    #head {
        width: 100%;
        padding: 0px 80px;
        max-width: 1024px;
        height: 100px;
        position:static;
        z-index: 0;
        margin: auto;
        background-color: #2E948A;
    }
    .container--head {
        width: 100%;
        max-width: 1024px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    /* conteudo */

    .caixa--cinza {
        width: 80%;
    }

    .tituloh1 {
        width: 90%;
        text-align: center;
        font-size: 35px;
        line-height: 40px;
    }

    .textos {
        width: 80%;
        text-align: justify;
    }

    #cursos {
        height: 1600px;
        width: 100%;
    }
    .container--cursos {
        width: 100%;
        max-width: 1024;
        height:90% ;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
        position: relative;
    }
    .title--cursos {
        font-size: 20px;
    }
    .curso1,
    .curso2,
    .curso3 {
        width: 100%;
        height: 400px;
    }
    .subTitle--cursos {
        font-size: 14px;
    }
    .btn--cursos {
        width: 133px;
        font-size: 18px;
    }
    .img--curso {
        width: 200px;
        height: 180px;
    }

    .title--page-cursos h2{
        width: 600px;
        margin: 20px 0px;
        font-size: 40px;
        position: absolute;
        text-align: center;
        top: -95px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }


    /* footer */
    .img {
        width: 300px;
    }

    .btn--link button {
        width: 200px;
    }

    .btn--link a {
        font-size: 18px;
    }
}


