/* css do menu principal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
#head {
    width: 100%;
    height: 117px;
    background-color: #2E948A;
    padding: 0px 80px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 999;
}
.container--head {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 244px;
    height: 77px;
}
.menu {
    width: 309px;
    height: 23px;
}
.menu--list {
    width: 309px;
    height: 23px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.menu--links {
    color: #fff;
    text-decoration: none;
    font-family:'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

/* banner */

#pagina--principal {
    width: 100%;
}

#banner--principal {
    width: 100%;
    height: calc(100vh + 117px);
    display: flex;
}
.container--banner {
    width: 1028px;
    height: 521px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.text--banner {
    justify-content: flex-start;
    width: 488px;
    height: 386px;
    margin-top: -135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.title--banner {
    width: 488px;
    height: 216px;
    color:#FF4081 ;
    font-size: 60px;
    line-height: 69px;
    font-weight: 700;
}

.subTitle--banner {
    width: 350px;
    height: 62px;
    font-size: 27px;
    line-height: 31px;
    color: #555;
    text-align: left;
}

.btn--banner {
    width: 268px;
    height: 51px;
    border-radius: 62px;
    color: #FF4081;
    border: 2px solid #FF4081;
    background-color: transparent;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
}
.btn--banner a {
    text-decoration: none;
    color: #FF4081;
}


.img--banner {
    width: 501px;
    height: 511px;
}


/* cursos */

#cursos {
    width: 100%;
    height: 730px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 80px;
}

.container--cursos {
    width: 1440px;
    height: 502px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curso1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 344px;
    height: 504px;
}
.curso2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 293px;
    height: 504px;
}
.curso3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 304px;
    height: 504px;
}

.subTitle--cursos {
    color: #555;
    font-size: 17px;
    width: 293px;
    height: 60px;
    text-align: center;
    line-height: 20px;
}

.img--curso {
    width: 248px;
    height: 270px;
}

.title--cursos {
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #FF4081;
    font-weight: 700;
}

.btn--cursos {
    width: 233px;
    height: 51px;
    border-radius: 62px;
    background-color: #FF4081;
    color: #fff;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

.btn--cursos a {
    text-decoration: none;
    color: #fff;
}


/* Depoimentos */

#depoimentos {
    width: 100%;
    height: 730px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 80px;
}

.container--depoimentos {
    width: 1440px;
    height: 427px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-between;
}

.depoimento1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.depoimento2 {
    position: absolute;
    left: 620px;
    bottom: 0;
}

.comentario {
    width: 495px;
    height: 104px;
    display: flex;
    align-items: center;
    margin: 40px 0px;
    line-height: 24px;
}

.title--depoimentos {
    color:#009688 ;
    font-size: 37px;
    position: absolute;
    top: 0;
    left: 0;
}

.text--pessoa {
    font-weight: 300;
}

.pessoa {
    width: 104px;
    margin-right: 37px;
}

.text--depoimentos {
    font-size: 18px;
    color: #555;
    height: 104px;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
}

.name--pessoa {
    color: #000;
    font-style: normal;
    margin-top: 15px;
    font-weight: 400;
}


/* Blog */

#blog {
    width: 100%;
    height: 730px;
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    padding: 0px 80px;
}

.container--blog {
    width: 1440px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    margin: auto;
}

.some--posts {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding-top: 50px;
}

.title--blog {
    color: #009688;
    font-size: 37px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50px;
}

.name--posts,
.text--posts {
    width: 320px;
    height: 114px;
    line-height: 25px;
}

.name--posts {
    font-weight: 700;
    font-size: 25px;
    color: #009688;
}

.text--posts {
    font-size: 18px;
    font-weight: 400;
}

.btn--blog {
    display: flex;
    justify-content: center;
}

.btn--blog button{
    width: 268px;
    height: 51px;
    border-radius: 62px;
    color: #FF4081;
    border: 2px solid #FF4081;
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.btn--blog a {
    text-decoration: none;
    color: #FF4081;
}

.img--posts {
    margin-bottom: 10px;
    width:320px;
    height: 193px;
    background-color:#C4C4C4 ;
}


/* css do footer principal */

#rodape {
    width: 100%;
    height: 207px;
    padding: 0px 80px;
    background-color: #2E948A;
}
.container--rodape {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    height: 207px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img {
    width: 312px;
}
.links--rodape ul {
    list-style: none;
    width: 71px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:53px 0px 71px 0px;
}
.links--rodape a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.btn--link {
    display: flex;
    flex-direction: column;
}
.btn--link button {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    font-family: 'Ubuntu';
    width: 289px;
    height: 51px;
    border-radius: 62px;
    margin-bottom: 13px;
    cursor: pointer;
}
.btn--link a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}