/* css do menu principal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
#head {
    width: 100%;
    height: 117px;
    background-color: #2E948A;
    padding: 0px 80px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 999;
}
.container--head {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 244px;
    height: 77px;
}
.menu {
    width: 309px;
    height: 23px;
}
.menu--list {
    width: 309px;
    height: 23px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.menu--links {
    color: #fff;
    text-decoration: none;
    font-family:'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}







/* adicionado uma tag main com essas proporções */

main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding-top: 80px;
}



.container--main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 512px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .lista {
    list-style: none;
    /* mudado o width para max-width: 512px; */
    max-width: 512px;
    height: 260px;
  }
  .text-1 {
    text-transform: uppercase;

    /* margin-bottom removido */
    
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: #009688;
  }
  text-2 {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }

  /* adicionado a tag section para dar um espaço entre o container--main e o container--grid */
  section {
    margin-top: 100px;
    padding: 80px 0px;
    background: #E5E5E5;
  }



  /* grid catalogo */
  .container--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1156px;
    height: 1433px;


    /* removido as margins: right, top, bottom */
    /* adicionado uma tag margin: auto; para o conteudo centralizar */
    
    margin: auto;
}
.caixa-completa {
    list-style-type: none;
    /* removido a margin left */

}
.caixa {
    width: 518px;
    height: 259px;
    background: #C4C4C4;
}
.produto {
    font-family: "ubuntu";
    font-weight: 500;
    font-size: 30px;
    line-height: 34.47px;
    color: #FF4081;
    margin-bottom: 19px;
}
.descript {
    font-family: "ubuntu";
    font-weight: 300;
    font-size: 17px;
    line-height: 19.53px;
    width: 518px;
}











/* css do footer principal */

#rodape {
    width: 100%;
    height: 207px;
    padding: 0px 80px;
    background-color: #2E948A;
}
.container--rodape {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    height: 207px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img {
    width: 312px;
}
.links--rodape ul {
    list-style: none;
    width: 71px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:53px 0px 71px 0px;
}
.links--rodape a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.btn--link {
    display: flex;
    flex-direction: column;
}
.btn--link button {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    font-family: 'Ubuntu';
    width: 289px;
    height: 51px;
    border-radius: 62px;
    margin-bottom: 13px;
    cursor: pointer;
}
.btn--link a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}