/* css do menu principal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
#head {
    width: 100%;
    height: 117px;
    background-color: #2E948A;
    padding: 0px 80px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 999;
}
.container--head {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 244px;
    height: 77px;
}
.menu {
    width: 309px;
    height: 23px;
}
.menu--list {
    width: 309px;
    height: 23px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.menu--links {
    color: #fff;
    text-decoration: none;
    font-family:'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}



/* Aqui começa da página contatos */

#page-contato {
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
}

.container {
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#button-submit {
    width: 108px;
    height: 32px;
    border-radius: 50px;
    background-color: #FF4081;
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.input {
    width: 493px;
    height: 32px;
    border-radius: 7px;
    font-family: 'Ubuntu';
    background: #FFFFFF;
    border: 1px solid #686868;
    box-sizing: border-box;
    outline: 0;
    padding-left: 10px;
}

#msg {
    width: 493px;
    height: 193px;
    border-radius: 7px;
    font-family: 'Ubuntu';
    background: #FFFFFF;
    border: 1px solid #686868;
    outline: 0 ;
    padding-left: 10px;
    padding-top: 10px;
}

#txt-contato {
    width: 154px;
    height: 46px;
    font-size: 40px;
    color: #FF4081;
}

#img-contato {
    width: 444px;
    height: 444px;
}

/* Aqui termina da Página Contatos*/



/* css do footer principal */

#rodape {
    width: 100%;
    height: 207px;
    padding: 0px 80px;
    background-color: #2E948A;
}
.container--rodape {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    height: 207px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img {
    width: 312px;
}
.links--rodape ul {
    list-style: none;
    width: 71px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:53px 0px 71px 0px;
}
.links--rodape a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.btn--link {
    display: flex;
    flex-direction: column;
}
.btn--link button {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    font-family: 'Ubuntu';
    width: 289px;
    height: 51px;
    border-radius: 62px;
    margin-bottom: 13px;
    cursor: pointer;
}
.btn--link a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}